force-app/main/default/flows/Auto_Create_Release_Charge_Loan_Charge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>is_New</name>
        <label>is New</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Term_updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>is_New_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Child_Release_Charge_Loan_Charge_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>issue_date_upated</name>
        <label>issue date upated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>issue_date_upated_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Loan_Issued__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Release_Charge_Loan_Charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Term_updated</name>
        <label>Term updated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>issue_date_upated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Term_updated_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Term__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Release_Charge_Loan_Charge</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>minor text change to new admin fee name</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_AdminFee_LoanChargeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; - &apos; + &apos;Admin Fee - Change of terms&apos;</expression>
    </formulas>
    <formulas>
        <description>Calculated as the Loan Issue Date + Term (in months).</description>
        <name>Formula_chargeDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Date_Loan_Issued__c} ,{!$Record.Term__c})</expression>
    </formulas>
    <formulas>
        <name>Formula_LoanChargeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} + &apos; - &apos; + &apos;Release Charge&apos;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Auto Create Release Charge Loan Charge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Create Release Charge Loan Charge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Child_Admin_Fee_Loan_Charge_Record</name>
        <label>Create Child Admin Fee Loan Charge Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>300.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Admin Fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_AdminFee_LoanChargeName</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Child_Release_Charge_Loan_Charge_Record</name>
        <label>Create Child Release Charge Loan Charge Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <numberValue>500.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge_Type__c</field>
            <value>
                <stringValue>Release Charge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Formula_chargeDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_LoanChargeName</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>In the event that the Release charge record is set further out based on other sibling loan charges it should retain this date and not be overwritten</description>
        <name>Copy_1_of_Update_Release_Charge_Loan_Charge</name>
        <label>Update Release Charge Loan Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Formula_chargeDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Formula_chargeDate</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Charge__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>In the event that the Release charge record is set further out based on other sibling loan charges it should retain this date and not be overwritten</description>
        <name>Update_Release_Charge_Loan_Charge</name>
        <label>Update Release Charge Loan Charge</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Child_Admin_Fee_Loan_Charge_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Charge_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Release Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>Formula_chargeDate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Formula_chargeDate</elementReference>
            </value>
        </inputAssignments>
        <object>Loan_Charge__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_New</targetReference>
        </connector>
        <object>Loan__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
